<section class="phpi-home-blog">
  <div class="container">
    <div class="phpi-section-heading">
      <div>
        <span>Articles</span>
        <h2>Latest notes from the world of guiding and tourism.</h2>
      </div>
      <a href="/blogs">
        All articles
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </a>
    </div>
    <div class="phpi-blog-grid">
      <% posts.forEach(post => { %>
      <article class="phpi-blog-card">
        <a href="/blogs/<%= post.id %>" class="phpi-blog-img">
          <img src="<%= post.thumbnail %>" alt="<%= post.title %>" />
        </a>
        <div class="phpi-blog-body">
          <span><%= post.createdAt %></span>
          <h3><a href="/blogs/<%= post.id %>"><%= post.title %></a></h3>
          <% if (post.summary) { %>
          <p><%= post.summary %></p>
          <% } %>
          <a href="/blogs/<%= post.id %>" class="phpi-inline-link">
            Read More
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </a>
        </div>
      </article>
      <% }) %>
    </div>
  </div>
</section>
