<section class="phpi-home-products">
  <div class="container">
    <div class="phpi-section-heading">
      <div>
        <span>Travel Products</span>
        <h2>Experiences crafted from local knowledge.</h2>
      </div>
      <a href="/products">
        View all products
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </a>
    </div>
    <div class="phpi-product-grid">
      <% products.slice(0, 4).forEach((product, index) => { %>
      <a href="/products/<%= product.id %>" class="phpi-product-card">
        <span class="phpi-card-index">0<%= index + 1 %></span>
        <div class="phpi-product-img">
          <img
            src="<%= product.banners.length > 0 ? product.banners[0] : '/assets/images/shop/shop-single/thumb/img-1.jpg' %>"
            alt="<%= product.name %>"
          />
        </div>
        <div class="phpi-product-body">
          <span><%= product.category %></span>
          <h3><%= product.name %></h3>
          <p><%= product.price %></p>
        </div>
      </a>
      <% }) %>
    </div>
  </div>
</section>
