<div class="page-wrapper">
  <!-- start preloader -->
  <%- include('../components/ui/preloader') %>
  <!-- end preloader -->
  <!-- Start header -->
  <%- include('../components/ui/header') %>
  <!-- end of header -->

  <!-- start wpo-shop-section -->
  <section class="wpo-shop-single-section section-padding">
    <div class="container">
      <div class="row">
        <div class="col col-lg-6 col-12">
          <div class="shop-single-slider">
            <div class="slider-for">
              <% if (product.banners.length > 0) { %> <% product.banners.forEach(banner => { %>
              <div class="main-img">
                <img src="<%= banner || '/assets/images/shop/shop-single/1.jpg' %>" alt="image slider" />
              </div>
              <% }) %>
              <% } %>
              <div class="main-img">
                <img src="/assets/images/shop/shop-single/1.jpg" alt="image slider" />
              </div>
            </div>
            <div class="slider-nav p-0">
              <% product.banners.forEach(banner => { %>
              <div class="aspect-ratio-square d-flex justify-content-center align-items-center overflow-hidden cursor-pointer">
                <img src="<%= banner || '/assets/images/shop/shop-single/thumb/img-1.jpg' %>" alt />
              </div>
              <% }) %>
            </div>
          </div>
        </div>

        <div class="col col-lg-6 col-12">
          <div class="product-details">
            <h2><%= product.name %></h2>
            <div class="product-rt d-none">
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
              </div>
              <span>(25 customer reviews)</span>
            </div>
            <div class="price">
              <span class="old d-none">$230.00</span>
              <span class="current"><%= product.price %></span>
            </div>
            <p><%= product.description %></p>
            <!-- end option -->
            <div class="tg-btm">
              <p>
                <span>Categories:</span>
                <span class="category"><%= product.category.name %></span>
              </p>
            </div>

            <div class="user-info mt-3">
              <div class="d-flex align-items-center gap-4 user-info-container">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <div class="d-flex flex-column">
                  <span class="fw-bold">Available Areas</span>
                  <span class=""><%= product?.location || '.' %></span>
                </div>
              </div>
              <div class="d-flex align-items-center gap-4 user-info-container">
                <i class="fa fa-language" aria-hidden="true"></i>
                <div class="d-flex flex-column">
                  <span class="fw-bold">languages</span>
                  <span class=""> <% const languages = product?.user?.languages || []; %> <%= languages.map(language => language.language).join(',') %>. </span>
                </div>
              </div>

              <form action="" method="post" class="user-info-container p-0">
                <div class="form-group mt-2">
                  <input type="date" class="form-control" name="date" id="date" />
                </div>

                <button class="theme-btn-sm whatsapp-btn w-100 d-flex align-items-center justify-content-center gap-2">
                  <i class="fa fa-whatsapp" aria-hidden="true"></i>
                  <span
                    >Message
                    <%= product?.user?.nama %></span
                  >
                </button>
              </form>
            </div>
          </div>
          <!-- end product details -->
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->

      <div class="row mt-5">
        <div class="col-lg-6 col-12">
          <div class="card card-body guide-information">
            <!-- image -->
            <div class="d-flex flex-column align-items-center gap-2">
              <div class="foto-guide">
                <img src="/assets/images/shop/shop-single/review/img-1.jpg" alt="foto guide" />
              </div>

              <span class="fst-italic joined-date"
                >Joined
                <%= product?.user?.createdAt %></span
              >
            </div>

            <!-- name -->
            <div class="d-flex flex-column">
              <h4 class="m-0"><%= product?.user?.nama %></h4>
              <div class="rating">
                <% [1, 2, 3, 4, 5].forEach(element => { %>
                <i class="fa fa-star" aria-hidden="true"></i>
                <% }) %>
                <span><%= product?.ratingUser %>/5</span>
                <span>(<%= product?.ratingUserCount %>)</span>
              </div>
              <% if (product?.user?.status == 'active') { %>
              <span class="verified">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                <span>Identity verified</span>
              </span>
              <% } else {%>
              <span class="verified">
                <i class="fa fa-times-circle not" aria-hidden="true"></i>
                <span>Identity not verified</span>
              </span>
              <% } %>
            </div>
          </div>
        </div>
        <div class="col-12 col-xs-12">
          <div class="product-info">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link active" id="Information-tab" data-bs-toggle="tab" href="#Information" role="tab" aria-controls="Information" aria-selected="true">Information</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="Itinerary-tab" data-bs-toggle="tab" href="#Itinerary" role="tab" aria-controls="Itinerary" aria-selected="true">Itinerary</a>
              </li>
              <li class="nav-item d-none" role="presentation">
                <a class="nav-link" id="CancellationPolicy-tab" data-bs-toggle="tab" href="#CancellationPolicy" role="tab" aria-controls="CancellationPolicy" aria-selected="true">Cancellation Policy</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="Review-tab" data-bs-toggle="tab" href="#Review" role="tab" aria-controls="Review" aria-selected="false">Review</a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="Information">
                <div class="row">
                  <div class="col col-lg-3 col-12 d-flex flex-column gap-3 mb-3">
                    <div class="d-flex align-items-center gap-3">
                      <i class="fa fa-map-marker" aria-hidden="true"></i>
                      <span class="fw-semibold"><%= product?.location %></span>
                    </div>
                    <div class="d-flex align-items-center gap-3">
                      <i class="fa fa-clock-o" aria-hidden="true"></i>
                      <span class="fw-semibold"><%= product?.serviceTime %></span>
                    </div>
                  </div>
                  <div class="col col-lg-6 col-12 d-flex flex-column gap-3">
                    <div class="d-flex align-items-center gap-3">
                      <i class="fa fa-language" aria-hidden="true"></i>
                      <span class="fw-semibold"> <%= languages.map(language => language.language).join(',') %>. </span>
                    </div>
                    <div class="d-flex align-items-center gap-3">
                      <i class="fa fa-users" aria-hidden="true"></i>
                      <span class="fw-semibold"
                        >Up to
                        <%= product?.capacity %>
                        people</span
                      >
                    </div>
                  </div>
                  <div class="col col-lg-12 col-12 mt-5">
                    <h3>Description</h3>

                    <%= product?.description %>
                  </div>
                  <div class="col col-lg-12 col-12 mt-5">
                    <h3>Tour Important Information</h3>

                    <%= product?.importanInformation %>
                  </div>
                  <div class="col col-lg-12 col-12 mt-5 row">
                    <h3 class="mb-2">Inclusions & Exclusions</h3>

                    <div class="inclusions-info col col-lg-3 col-12">
                      <ul>
                        <% product.productServices.forEach(service => { %>
                        <% if (service.type == 'inclusive') { %>
                        <li>
                          <i class="fa fa-check-circle" aria-hidden="true"></i>
                          <span><%= service.name %></span>
                        </li>
                        <% } %>
                        <% }) %>
                      </ul>
                    </div>
                    <div class="inclusions-info col col-lg-3 col-12">
                      <ul>
                        <% product.productServices.forEach(service => { %>
                        <% if (service.type == 'exclusive') { %>
                        <li>
                          <i class="fa fa-times-circle not" aria-hidden="true"></i>
                          <span><%= service.name %></span>
                        </li>
                        <% } %>
                        <% }) %>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="Itinerary">
                <p>This itinerary can be customized to meet your needs and preferences. Send me a message with your requests!</p>
                <div class="itinerary">
                  <ul>
                    <% product?.itineraries.forEach(itinerary => { %>
                    <li>
                      <div class="time"><%= itinerary.time %></div>
                      <div class="title"><%= itinerary.title %></div>
                      <div class="description"><%= itinerary.description %></div>
                    </li>
                    <% }) %>
                  </ul>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="CancellationPolicy">
                <div class="cancellation-policy">
                  <ul>
                    <li>
                      <i class="fa fa-check-circle" aria-hidden="true"></i>
                      <span>Free cancellation - 8 days prior to meeting time</span>
                    </li>
                    <li>
                      <i class="fa fa-check-circle" aria-hidden="true"></i>
                      <span>50% Refund - 3 to 7 days prior to meeting time</span>
                    </li>
                    <li>
                      <i class="fa fa-times-circle not" aria-hidden="true"></i>
                      <span>No Refund - Within 2 day(s) prior to meeting time</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="Review">
                <div class="row">
                  <div class="col col-lg-10 col-12">
                    <% product?.reviews.forEach(review => { %>
                    <div class="client-rv">
                      <div class="client-pic">
                        <img src="<%= review?.user?.photo != 'http://localhost:3000null' ? review?.user?.photo : '/assets/images/shop/shop-single/review/img-1.jpg' %>" alt />
                      </div>
                      <div class="details">
                        <div class="name-rating-time">
                          <div class="name-rating">
                            <div>
                              <div class="rating">
                                <% for (let index = 0; index < review.rating; index++) { %>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <% } %>
                                <% for (let index = review.rating; index < 5; index++) { %>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <% } %>
                              </div>
                            </div>
                            <div>
                              <h4><%= review?.user?.nama %></h4>
                            </div>
                            <div class="product-rt">
                              <span><%= review.createdAt %></span>
                            </div>
                          </div>
                        </div>
                        <div class="review-body">
                          <p>
                            <%= review?.comment %>
                          </p>
                        </div>
                      </div>
                    </div>
                    <% }) %>
                  </div>
                  <!-- end col -->

                  <div class="col col-lg-12 col-12 review-form-wrapper">
                    <div class="review-form">
                      <h4>Add a review</h4>
                      <form action="/review" method="post">
                        <input type="hidden" value="<%= product?.id %>" name="productId" />
                        <div class="give-rat-sec">
                          <p>Your rating *</p>
                          <div class="give-rating">
                            <label>
                              <input type="radio" required name="rating" value="1" />
                              <span class="icon">★</span>
                            </label>
                            <label>
                              <input type="radio" required name="rating" value="2" />
                              <span class="icon">★</span>
                              <span class="icon">★</span>
                            </label>
                            <label>
                              <input type="radio" required name="rating" value="3" />
                              <span class="icon">★</span>
                              <span class="icon">★</span>
                              <span class="icon">★</span>
                            </label>
                            <label>
                              <input type="radio" required name="rating" value="4" />
                              <span class="icon">★</span>
                              <span class="icon">★</span>
                              <span class="icon">★</span>
                              <span class="icon">★</span>
                            </label>
                            <label>
                              <input type="radio" required name="rating" value="5" />
                              <span class="icon">★</span>
                              <span class="icon">★</span>
                              <span class="icon">★</span>
                              <span class="icon">★</span>
                              <span class="icon">★</span>
                            </label>
                          </div>
                        </div>
                        <div>
                          <textarea class="form-control" placeholder="Review *" name="comment"></textarea>
                        </div>
                        <div class="rating-wrapper">
                          <div class="submit">
                            <button type="submit" class="theme-btn-s2">Post review</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end of container -->
  </section>
  <!-- end wpo-shop-section -->

  <!-- start of wpo-site-footer-section -->
  <%- include('../components/ui/footer.ejs') %>
  <!-- end of wpo-site-footer-section -->
</div>
