<div class="page-wrapper">
  <!-- start preloader -->
  <%- include('../components/ui/preloader') %>
  <!-- end preloader -->
  <!-- Start header -->
  <%- include('../components/ui/header') %>
  <!-- end of header -->

  <!-- start wpo-shop-section -->
  <section class="wpo-shop-single-section section-padding">
    <div class="container">
      <div class="row">
        <div class="col col-lg-6 col-12">
          <div class="shop-single-slider">
            <div class="slider-for">
              <% product.banners.forEach(banner => { %>
              <div class="main-img">
                <img
                  src="<%= banner || '/assets/images/shop/shop-single/thumb/img-1.jpg' %>"
                  alt="image slider"
                />
              </div>
              <% }) %>
            </div>
            <div class="slider-nav p-0">
              <% product.banners.forEach(banner => { %>
              <div
                class="aspect-ratio-square d-flex justify-content-center align-items-center overflow-hidden cursor-pointer"
              >
                <img
                  src="<%= banner || '/assets/images/shop/shop-single/thumb/img-1.jpg' %>"
                  alt
                />
              </div>
              <% }) %>
            </div>
          </div>
        </div>

        <div class="col col-lg-6 col-12">
          <div class="product-details">
            <h2><%= product.name %></h2>
            <div class="product-rt d-none">
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
              </div>
              <span>(25 customer reviews)</span>
            </div>
            <div class="price">
              <span class="old d-none">$230.00</span>
              <span class="current"><%= product.price %></span>
            </div>
            <p><%= product.description %></p>
            <div class="product-option">
              <form class="form">
                <div class="product-row">
                  <div>
                    <input
                      id="product-count"
                      type="text"
                      value="1"
                      name="product-count"
                    />
                  </div>
                  <div>
                    <button type="submit" class="theme-btn">Add to cart</button>
                  </div>
                  <div>
                    <button class="theme-btn heart-btn d-none">
                      <i class="ti-heart"></i>
                    </button>
                    <span></span>
                  </div>
                </div>
              </form>
            </div>
            <!-- end option -->
            <div class="tg-btm">
              <p>
                <span>Categories:</span>
                <%= product.category.name %>
              </p>
            </div>
          </div>
          <!-- end product details -->
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->

      <div class="row">
        <div class="col col-xs-12">
          <div class="product-info">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <a
                  class="nav-link active"
                  id="Description-tab"
                  data-bs-toggle="tab"
                  href="#Description"
                  role="tab"
                  aria-controls="Description"
                  aria-selected="true"
                  >Description</a
                >
              </li>
              <li class="nav-item d-none" role="presentation">
                <a
                  class="nav-link"
                  id="Review-tab"
                  data-bs-toggle="tab"
                  href="#Review"
                  role="tab"
                  aria-controls="Review"
                  aria-selected="false"
                  >Review</a
                >
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="Description">
                <p>
                  <%= product.description %>
                </p>
              </div>
              <div role="tabpanel" class="tab-pane" id="Review">
                <div class="row">
                  <div class="col col-lg-10 col-12">
                    <div class="client-rv">
                      <div class="client-pic">
                        <img
                          src="/assets/images/shop/shop-single/review/img-1.jpg"
                          alt
                        />
                      </div>
                      <div class="details">
                        <div class="name-rating-time">
                          <div class="name-rating">
                            <div>
                              <h4>Jenefar Willium</h4>
                            </div>
                            <div class="product-rt">
                              <span>25 Sep 2022</span>
                            </div>
                          </div>
                        </div>
                        <div class="review-body">
                          <p>
                            There are many variations of passages of Lorem Ipsum
                            available, but the majority have suffered alteration
                            in some form, by injected humour, or randomised
                            words which don't look.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="client-rv">
                      <div class="client-pic">
                        <img
                          src="/assets/images/shop/shop-single/review/img-2.jpg"
                          alt
                        />
                      </div>
                      <div class="details">
                        <div class="name-rating-time">
                          <div class="name-rating">
                            <div>
                              <h4>Maria Bannet</h4>
                            </div>
                            <div class="product-rt">
                              <span>28 Sep 2022</span>
                            </div>
                          </div>
                        </div>
                        <div class="review-body">
                          <p>
                            There are many variations of passages of Lorem Ipsum
                            available, but the majority have suffered alteration
                            in some form, by injected humour, or randomised
                            words which don't look.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end col -->

                  <div class="col col-lg-12 col-12 review-form-wrapper">
                    <div class="review-form">
                      <h4>Add a review</h4>
                      <p>
                        Your email address will not be published. Required
                        fields are marked *
                      </p>
                      <form>
                        <div class="give-rat-sec">
                          <p>Your rating *</p>
                          <div class="give-rating">
                            <label>
                              <input type="radio" name="stars" value="1" />
                              <span class="icon">★</span>
                            </label>
                            <label>
                              <input type="radio" name="stars" value="2" />
                              <span class="icon">★</span>
                              <span class="icon">★</span>
                            </label>
                            <label>
                              <input type="radio" name="stars" value="3" />
                              <span class="icon">★</span>
                              <span class="icon">★</span>
                              <span class="icon">★</span>
                            </label>
                            <label>
                              <input type="radio" name="stars" value="4" />
                              <span class="icon">★</span>
                              <span class="icon">★</span>
                              <span class="icon">★</span>
                              <span class="icon">★</span>
                            </label>
                            <label>
                              <input type="radio" name="stars" value="5" />
                              <span class="icon">★</span>
                              <span class="icon">★</span>
                              <span class="icon">★</span>
                              <span class="icon">★</span>
                              <span class="icon">★</span>
                            </label>
                          </div>
                        </div>
                        <div>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Name *"
                            required
                          />
                        </div>
                        <div>
                          <input
                            type="email"
                            class="form-control"
                            placeholder="Email *"
                            required
                          />
                        </div>
                        <div>
                          <textarea
                            class="form-control"
                            placeholder="Review *"
                          ></textarea>
                        </div>
                        <div class="rating-wrapper">
                          <div class="submit">
                            <button type="submit" class="theme-btn-s2">
                              Post review
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end of container -->
  </section>
  <!-- end wpo-shop-section -->

  <!-- start of wpo-site-footer-section -->
  <%- include('../components/ui/footer.ejs') %>
  <!-- end of wpo-site-footer-section -->
</div>
