<div class="page-wrapper">
  <!-- start preloader -->
  <%- include('../components/ui/preloader') %>
  <!-- end preloader -->
  <!-- Start header -->
  <%- include('../components/ui/header') %>
  <!-- end of header -->

  <!-- start wpo-page-title -->
  <section
    class="wpo-page-title"
    style="
      background: url(/assets/images/banner/member.jpg) no-repeat center top /
        cover;
    "
  >
    <div class="container">
      <div class="row">
        <div class="col col-xs-12">
          <div class="wpo-breadcumb-wrap">
            <h2><%= title %></h2>
            <ol class="wpo-breadcumb-wrap">
              <li><a href="/">Home</a></li>
              <li><%= title %></li>
            </ol>
          </div>
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>
  <!-- end page-title -->

  <section class="wpo-breadcumb-wrap"></section>

  <!-- start wpo-team-section -->
  <section class="wpo-find-your-guide section-padding">
    <div class="container">
      <div class="row">
        <div class="col col-xs-12">
          <div class="wpo-section-title">
            <h2>
              Use our "Find Your Guide" tool to find the perfect guide for your
              tour in Indonesia!
            </h2>
          </div>
          <div class="wpo-section-description">
            <p>
              Use our <b>"Find Your Guide"</b> tool to find the perfect guide
              for your tour in Indonesia!
            </p>
            <p>
              Our <b>"Find Your Guide"</b> tool will help you find a guide in
              Indonesia who is available for the date you choose.
            </p>
            <p>
              Selecting the type of tour, language, and special interests will
              help you find the perfect guide for your dream tour in any city in
              Indonesia.
            </p>
            <p>Not sure where to start?</p>
            <p>Just click the search button below to see all of our guides.</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col col-md-12 col-lg-6">
          <div class="card card-body">
            <h5 class="mb-4">Find Your Guide</h5>

            <form action="/search/guide" method="get">
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <div class="input-group flex-nowrap">
                      <span class="input-group-text" id="addon-wrapping">
                        <i class="fa fa-map-marker"></i>
                      </span>
                      <input
                        type="text"
                        class="form-control"
                        id="location"
                        name="location"
                        placeholder="Search by location"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <div class="input-group flex-nowrap">
                      <span class="input-group-text" id="addon-wrapping">
                        <i class="fa fa-language" aria-hidden="true"></i>
                      </span>
                      <select
                        name="language"
                        id="language"
                        class="form-control"
                      >
                        <option value="">Search by language</option>
                        <% dataLanguage.forEach((lang) => { %>
                        <option value="<%= lang.language %>">
                          <%= lang.language %>
                        </option>
                        <% }) %>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <div class="input-group flex-nowrap">
                      <span class="input-group-text" id="addon-wrapping">
                        <i class="fa fa-compass" aria-hidden="true"></i>
                      </span>
                      <select
                        name="category"
                        id="category"
                        class="form-control"
                      >
                        <option value="">Search by category</option>
                        <% dataCategory.forEach((data) => { %>
                        <option value="<%= data.name %>">
                          <%= data.name %>
                        </option>
                        <% }) %>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <div class="input-group flex-nowrap">
                      <span class="input-group-text" id="addon-wrapping">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </span>
                      <select
                        name="specialInterest"
                        id="specialInterest"
                        class="form-control"
                      >
                        <option value="">Search by special interest</option>
                        <% dataSpecialInterest.forEach((data) => { %>
                        <option value="<%= data.name %>">
                          <%= data.name %>
                        </option>
                        <% }) %>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <div class="input-group flex-nowrap">
                      <span class="input-group-text" id="addon-wrapping">
                        <i class="fa fa-search" aria-hidden="true"></i>
                      </span>
                      <input
                        type="text"
                        class="form-control"
                        id="nama"
                        name="nama"
                        placeholder="Search by name"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <button type="submit" class="theme-btn-sm w-100">
                    Search
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end wpo-team-section -->

  <!-- stert wpo-social-section -->
  <%- include('../components/partials/home/social') %>
  <!-- end wpo-social-section -->

  <!-- start of wpo-site-footer-section -->
  <%- include('../components/ui/footer.ejs') %>
  <!-- end of wpo-site-footer-section -->
</div>
