<div class="page-wrapper">
  <!-- start preloader -->
  <% include('../components/ui/preloader') %>

  <!-- end preloader -->
  <%- include('../components/ui/header') %>

  <!-- start of hero -->
  <%- include('../components/partials/home/hero') %>
  <!-- end of hero -->

  <!-- start of wpo-about-section -->
  <%- include('../components/partials/home/about') %>
  <!-- end of wpo-about-section -->

  <!-- start of wpo-services-section -->
  <%- include('../components/partials/home/services') %>
  <!-- end of wpo-services-section -->

  <!-- start wpo-fun-fact-section -->
  <%- include('../components/partials/home/fun-fact') %>
  <!-- end wpo-fun-fact-section -->

  <!-- start wpo-team-section -->
  <%- include('../components/partials/home/team') %>
  <!-- end wpo-team-section -->

  <!-- start wpo-partners-section -->
  <% include('../components/partials/home/partners') %>
  <!-- end -wpo-partners-section -->

  <!-- start wpo-portfolio-section -->
  <%- include('../components/partials/home/portfolio') %>
  <!-- end wpo-portfolio-section -->

  <!-- start wpo-testimonial-section -->
  <%- include('../components/partials/home/testimonial') %>
  <!-- end wpo-testimonial-section -->

  <!-- start wpo-blog-section -->
  <%- include('../components/partials/home/blog') %>
  <!-- end wpo-blog-section -->

  <!-- stert wpo-social-section -->
  <%- include('../components/partials/home/social') %>
  <!-- end wpo-social-section -->

  <!-- start of wpo-site-footer-section -->
  <%- include('../components/ui/footer.ejs') %>
  <!-- end of wpo-site-footer-section -->
</div>
