<div class="page-wrapper">
  <!-- start preloader -->
  <%- include('../components/ui/preloader') %>
  <!-- end preloader -->
  <!-- Start header -->
  <%- include('../components/ui/header') %>
  <!-- end of header -->

  <!-- start wpo-page-title -->
  <section class="wpo-page-title">
    <div class="container">
      <div class="row">
        <div class="col col-xs-12">
          <div class="wpo-breadcumb-wrap">
            <h2><%= title %></h2>
            <ol class="wpo-breadcumb-wrap">
              <li><a href="index.html">Home</a></li>
              <li><%= title %></li>
            </ol>
          </div>
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>
  <!-- end page-title -->

  <!-- start wpo-shop-section -->
  <section class="wpo-shop-section section-padding">
    <div class="container">
      <div class="row">
        <div class="col col-xs-12">
          <div class="shop-grids clearfix">
            <% products.forEach(product => { %>
            <div class="grid">
              <div class="img-holder">
                <img src="assets/images/shop/1.jpg" alt />
              </div>
              <div class="details">
                <h3><a href="shop-single.html">Camera Lab</a></h3>
                <del>$25.00</del><span>$22.00</span>
                <div class="add-to-cart">
                  <a href="#">Add to cart <i class="ti-shopping-cart"></i></a>
                </div>
              </div>
            </div>
            <% }) %>
          </div>
          <div class="pagination-wrapper pagination-wrapper-center">
            <ul class="pg-pagination">
              <li>
                <a href="#" aria-label="Previous">
                  <i class="ti-angle-left"></i>
                </a>
              </li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li>
                <a href="#" aria-label="Next">
                  <i class="ti-angle-right"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </section>
  <!-- end wpo-shop-section -->

  <!-- start of wpo-site-footer-section -->
  <%- include('../components/ui/footer.ejs') %>
  <!-- end of wpo-site-footer-section -->
</div>
