<div class="page-wrapper">
  <!-- start preloader -->
  <%- include('../components/ui/preloader') %>
  <!-- end preloader -->
  <!-- Start header -->
  <%- include('../components/ui/header') %>
  <!-- end of header -->
  <!-- .team-pg-area start -->
  <div class="team-pg-area section-padding">
    <div class="container">
      <div class="team-info-wrap">
        <div class="row">
          <div class="col-lg-6">
            <div class="team-info-img relative">
              <% if (user.status == 'active') { %>
              <div class="verified">
                <img
                  src="/assets/images/ft-icon/verified.svg"
                  alt=""
                  srcset=""
                />
              </div>
              <% } %>
              <% if (user.photo) { %>
              <img src="<%= user.photo %>" alt="" />
              <% } else { %>
              <img src="/assets/images/at-single.jpg" alt="" />
              <% } %>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="team-info-text">
              <div
                role="button"
                class="d-flex w-100 justify-content-end text-info mb-2"
                data-bs-toggle="modal"
                data-bs-target="#cardMemberModal"
              >
                Lihat Kartu Member
              </div>
              <div class="name-tag">
                <h2><%= user.nama %></h2>
                <input type="hidden" id="qr-url" value="<%= user.qr_url %>" />
                <div
                  role="button"
                  data-bs-toggle="modal"
                  data-bs-target="#qrcodeModal"
                  class="qr-container"
                  id="qr-container"
                ></div>
                <%- include('../components/partials/profile/modal') %>
              </div>
              <ul>
                <li>
                  Email:<span><%= user.email %></span>
                </li>
                <li>
                  No HP:<span><%= user.phone %></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="exprience-area">
        <div class="row">
          <div class="col-lg-12">
            <div class="exprience-wrap">
              <h2>Personal Experience</h2>
              <p>
                The purpose of lorem ipsum is to create a natural looking block
                oftext (sentence, paragraph, page, etc.) that doesn't distract
                from thelayout. A practice not without controversy, laying out
                pages withmeaningless filler text can be very useful when the
                focus is meantto be on design, not content.There are many
                variations of passages of Lorem Ipsum available.
              </p>
              <p>
                But the majority have suffered alteration in some form, by
                injected humour, or randomised words which don’t look even
                slightly believable. If you are going to use a passage of Lorem
                Ipsum, you need to be sure there isn’t anything embarrassing
                hidden in the middle of text generators on the Internet tend to
                repeat.
              </p>
            </div>
            <div class="education-area ex-wiget">
              <h2>Education</h2>
              <ul>
                <li>
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration in some
                  form, by injected humour.
                </li>
                <li>If you are going to use a passage of Lorem Ipsum.</li>
                <li>Very popular during the Renaissance.</li>
                <li>
                  Many desktop publishing packages and web page editors now.
                </li>
              </ul>
            </div>
            <div class="language-area ex-wiget">
              <h2>Language</h2>
              <ul>
                <li>French(fluent), English (fluent), Greek , chinese.</li>
              </ul>
            </div>
            <!-- products -->
            <section class="wpo-shop-section section-padding">
              <h1 class="mb-5">User Products</h1>
              <div class="">
                <div class="row">
                  <div class="col col-xs-12">
                    <div class="shop-grids clearfix">
                      <% products.forEach(product => { %>
                      <a href="/products/<%= product.id %>">
                        <div class="grid">
                          <div class="img-holder">
                            <img
                              src="<%= product.banners.length > 0 ? product.banners[0] : '/assets/images/shop/1.jpg'%> "
                              alt="image"
                            />
                          </div>
                          <div class="details">
                            <h3>
                              <a href="/products/<%= product.id %>"
                                ><%= product.name %></a
                              >
                            </h3>
                            <span><%= product.price %></span>
                            <div class="add-to-cart">
                              <a href="/products/<%= product.id %>">Detail</a>
                            </div>
                          </div>
                        </div>
                      </a>
                      <% }) %>
                    </div>
                    <div class="pagination-wrapper pagination-wrapper-center">
                      <ul class="pg-pagination">
                        <% if (page != 1) { %>
                        <li>
                          <a href="?page=<%= page - 1 %>" aria-label="Previous">
                            <i class="ti-angle-left"></i>
                          </a>
                        </li>
                        <% } %>
                        <% for( let index = 1; index <= totalPage; index++ ) { %>
                        <li class="<%= page == index ? 'active' : '' %>">
                          <a href="?page=<%= index %>"><%= index %></a>
                        </li>
                        <% } %>
                        <% if (page < totalPage) { %>
                        <li>
                          <a href="?page=<%= page + 1 %>" aria-label="Next">
                            <i class="ti-angle-right"></i>
                          </a>
                        </li>
                        <% } %>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end container -->
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- .team-pg-area end -->

  <!-- start of wpo-site-footer-section -->
  <footer class="wpo-site-footer">
    <div class="shape-1">
      <img src="/assets/images/footer-shape.png" alt="" />
    </div>
    <div class="wpo-upper-footer">
      <div class="container">
        <div class="wpo-wrap-footer">
          <div class="row">
            <div class="col col-lg-3 col-md-6 col-sm-12 col-12">
              <div class="widget about-widget">
                <div class="logo widget-title">
                  <img src="/assets/images/logo.svg" alt="blog" />
                </div>
                <p>
                  Many desktop publishing packages web page editors now is use
                  model search for many web sites.
                </p>
                <ul>
                  <li>
                    <a href="#">
                      <i class="ti-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="ti-twitter-alt"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="ti-instagram"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="ti-google"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col col-lg-3 col-md-6 col-sm-12 col-12">
              <div class="widget link-widget">
                <div class="widget-title">
                  <h3>Solutions</h3>
                </div>
                <ul>
                  <li><a href="about.html">About us</a></li>
                  <li><a href="service.html">Service</a></li>
                  <li><a href="contact.html">IT Support</a></li>
                  <li><a href="blog.html">News & Media</a></li>
                  <li><a href="contact.html">Contact Us</a></li>
                </ul>
              </div>
            </div>
            <div class="col col-lg-3 col-md-6 col-sm-12 col-12">
              <div class="widget blog-widget">
                <div class="widget-title">
                  <h3>Recent Post</h3>
                </div>
                <ul>
                  <li>
                    <p>
                      <a href="blog-single.html"
                        >What are the pros and cons of becoming a it
                        solution?</a
                      >
                    </p>
                    <span><i class="fi flaticon-calendar"></i> 10.09.2022</span>
                  </li>
                  <li>
                    <p>
                      <a href="blog-single.html"
                        >We are able to give truly independent advice</a
                      >
                    </p>
                    <span><i class="fi flaticon-calendar"></i> 10.09.2022</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col col-lg-3 col-md-6 col-sm-12 col-12">
              <div class="widget newsletter-widget">
                <div class="widget-title">
                  <h3>Newsletter</h3>
                </div>
                <p>
                  Many desktop publi’s shing packages web page editors now is
                  use sites.
                </p>
                <form>
                  <div class="input-1">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Email Address *"
                      required=""
                    />
                  </div>
                  <div class="submit clearfix">
                    <button type="submit">
                      <i class="fi flaticon-send"></i>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end container -->
    </div>
    <div class="wpo-lower-footer">
      <div class="container">
        <div class="row">
          <div class="col col-xs-12">
            <p class="copyright">
              Copyright &copy; 2022 Solun by <a href="index.html">wpOceans</a>.
              All Rights Reserved.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="shape-2">
      <img src="/assets/images/footer-shape-1.png" alt="" />
    </div>
  </footer>
  <!-- end of wpo-site-footer-section -->
</div>
