<div class="page-wrapper">
  <!-- start preloader -->
  <%- include('../components/ui/preloader') %>
  <!-- end preloader -->
  <!-- Start header -->
  <%- include('../components/ui/header') %>
  <!-- end of header -->

  <!-- start wpo-page-title -->
  <section class="wpo-page-title" style="background: url(/assets/images/banner/member.jpg) no-repeat center top / cover">
    <div class="container">
      <div class="row">
        <div class="col col-xs-12">
          <div class="wpo-breadcumb-wrap">
            <h2><%= title %></h2>
            <ol class="wpo-breadcumb-wrap">
              <li><a href="/">Home</a></li>
              <li><%= title %></li>
            </ol>
          </div>
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>
  <!-- end page-title -->

  <!-- start wpo-team-section -->
  <section class="wpo-page-search-guide section-padding">
    <div class="container">
      <div class="">
        <form id="filter-2" action="/search/guide" method="get">
          <div class="filter">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Cari berdasarkan location" name="location" value="<%= location %>" />
            </div>
            <div class="custom-select-guide" id="language-select">
              <input type="hidden" name="language" id="language" value="<%= language %>" />
              <div class="select">Language</div>
              <div class="options-container">
                <div class="options">
                  <% dataLanguage.forEach((lang) => { %>
                  <div class="option <%= lang.language == language ? 'selected' : '' %>" value="<%= lang.language %>"><%= lang.language %></div>
                  <% }) %>
                </div>
              </div>
            </div>
            <div class="custom-select-guide" id="category-select">
              <input type="hidden" name="category" id="category" value="<%= category %>" />
              <div class="select">Category</div>
              <div class="options-container">
                <div class="options">
                  <% dataCategory.forEach((data) => { %>
                  <div class="option <%= data.name == category ? 'selected' : '' %>" value="<%= data.name %>"><%= data.name %></div>
                  <% }) %>
                </div>
              </div>
            </div>
            <div class="custom-select-guide" id="special-select">
              <input type="hidden" name="specialInterest" id="specialInterest" value="<%= specialInterest %>" />
              <div class="select">Special interest</div>
              <div class="options-container">
                <div class="options">
                  <% dataSpecialInterest.forEach((data) => { %>
                  <div value="<%= data.name %>" class="option <%= data.name == specialInterest ? 'selected' : '' %>"><%= data.name %></div>
                  <% }) %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Cari berdasarkan nama" name="nama" value="<%= nama %>" />
            </div>
            <div class="form-group">
              <a href="/search/guide">
                <button type="button" id="reset-filter" class="btn btn-primary">Reset</button>
              </a>
            </div>
          </div>
        </form>
      </div>
      <!-- content -->
      <div class="h-fit">
        <div id="guide-list" class="guide-container gx-5">
          <% users.forEach(user => { %>
          <a href="/profile/<%= user.id %>" class="guide-item">
            <!-- image -->
            <div class="img-holder">
              <img src="<%= user.photo %>" alt="guide image" />
            </div>
            <!-- body -->
            <div class="guide-body">
              <div class="guide-name"><%= user.nama %></div>
              <div class="rating">
                <div class="star">
                  <% for( let index = 0; index < user.avgRating; index++ ) { %>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <% } %>
                  <% for( let index = user.avgRating; index < 5; index++ ) { %>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                  <% } %>
                </div>
                <span class="rating-metric"><%= user.avgRating %>/5</span>
              </div>
              <span class="review-count">(<%= user.countReview %> Review)</span>
              <div class="d-flex gap-2 align-items-center">
                <% let badgeLength = user.availableAreas.length %> <% user.availableAreas.splice(0, 3).forEach(area => { %>
                <div class="badge"><%= area.name %></div>
                <% }) %>
                <% if (badgeLength > 3) { %>
                <div class="badge">...</div>
                <% } %>
              </div>
              <div class="description">
                <p><%= user.description %></p>
              </div>
            </div>
          </a>
          <% }) %>
        </div>

        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <!-- Previous Button -->
            <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
              <a class="page-link" href="?page=<%= currentPage - 1 %>" tabindex="-1">Previous</a>
            </li>

            <!-- Page Numbers -->
            <% for (let i = 1; i <= totalPages; i++) { %>
            <li class="page-item <%= currentPage === i ? 'active' : '' %>">
              <a class="page-link" href="?page=<%= i %>"><%= i %></a>
            </li>
            <% } %>

            <!-- Next Button -->
            <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
              <a class="page-link" href="?page=<%= currentPage + 1 %>">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
  <!-- end wpo-team-section -->

  <!-- stert wpo-social-section -->
  <%- include('../components/partials/home/social') %>
  <!-- end wpo-social-section -->

  <!-- start of wpo-site-footer-section -->
  <%- include('../components/ui/footer.ejs') %>
  <!-- end of wpo-site-footer-section -->
</div>
