<div>
  <div class="d-flex justify-content-between align-items-center mb-5">
    <h4>Lengkapi Profil</h4>
  </div>

  <div class="card p-4">
    <div class="card-header" style="background: none;">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Requirement Profile</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Personal Profile</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="card-tab" data-bs-toggle="tab" data-bs-target="#card" type="button" role="tab" aria-controls="card" aria-selected="false">Card Member</button>
        </li>
    </ul>
    </div>
    <div class="card-body">
      <div class="tab-content mt-3" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <form
          action="<%= user && user.id ? `/panel/members/update/${user.id}` : '/panel/members/save' %>?type=user"
          method="post"
          enctype="multipart/form-data"
          >
            <div class="row mb-3">
              <div class="col-12 col-lg-6 mb-3">
                <label for="name">Nama Sesuai KTP <span style="color: red">*</span></label>
                <input
                  type="text"
                  name="nama"
                  class="form-control"
                  id="name"
                  value="<%= user?.nama %>"
                  required
                />
              </div>
              <div class="col-12 col-lg-6 mb-3">
                <label for="address">Alamat Sesuai KTP <span style="color: red">*</span></label>
                <input
                  type="text"
                  name="address"
                  class="form-control"
                  id="address"
                  value="<%= user?.address %>"
                  required
                />
              </div>
              <div class="col-12 col-lg-6 mb-3">
                <label for="birthday">Tanggal Lahir <span style="color: red">*</span></label>
                <input
                  type="date"
                  name="birthday"
                  class="form-control"
                  id="birthday"
                  value="<%= user?.birthday %>"
                  required
                />
              </div>
              <div class="col-12 col-lg-6 mb-3">
                <label for="gender">Jenis Kelamin <span style="color: red">*</span></label>
                <select
                  name="gender"
                  class="form-control"
                  id="gender"
                  required
                >
                  <option value="" disabled selected>Pilih Jenis Kelamin</option>
                  <option value="male" <%= user?.gender === 'male' ? 'selected' : '' %>>Laki-laki</option>
                  <option value="female" <%= user?.gender === 'female' ? 'selected' : '' %>>Perempuan</option>
                </select>
              </div>
              <div class="col-12 col-lg-6 mb-3">
                <label for="phone">Nomor Telpon (Whatsapp) <span style="color: red">*</span></label>
                <input
                  type="tel"
                  name="no_telp"
                  class="form-control"
                  id="phone"
                  value="<%= user?.no_telp %>"
                  required
                />
              </div>
              <div class="col-12 col-lg-6 mb-3">
                <label for="inputEmail4">Email <span style="color: red">*</span></label>
                <input
                  type="email"
                  name="email"
                  class="form-control"
                  id="inputEmail4"
                  value="<%= user?.email %>"
                />
              </div>
              <div class="col-12 col-lg-6 mb-3">
                <label for="lastEducation">Pendidikan Terakhir <span style="color: red">*</span></label>
                <select
                  name="lastEducation"
                  class="form-control"
                  id="lastEducation"
                  required
                >
                  <option value="" disabled selected>Pilih Pendidikan Terakhir</option>
                  <option value="SMA" <%= user?.lastEducation === 'SMA' ? 'selected' : '' %>>SMA</option>
                  <option value="D3" <%= user?.lastEducation === 'D3' ? 'selected' : '' %>>D3</option>
                  <option value="S1" <%= user?.lastEducation === 'S1' ? 'selected' : '' %>>S1</option>
                  <option value="S2" <%= user?.lastEducation === 'S2' ? 'selected' : '' %>>S2</option>
                  <option value="S3" <%= user?.lastEducation === 'S3' ? 'selected' : '' %>>S3</option>
                </select>
              </div>
              <div class="col-12 col-lg-6 mb-3">
                <label for="trainingCertificationNumber">Nomor Sertifikat Pelatihan Pramuwisata <span style="color: red">*</span></label>
                <input
                  type="text"
                  name="trainingCertificationNumber"
                  class="form-control"
                  id="trainingCertificationNumber"
                  value="<%= user?.trainingCertificationNumber %>"
                  required
                />
              </div>
              <div class="col-12 col-lg-6 mb-3">
                <label for="competencyCertificationNumber">Nomor Sertifikat Kompetensi <span style="color: red">*</span></label>
                <input
                  type="text"
                  name="competencyCertificationNumber"
                  class="form-control"
                  id="competencyCertificationNumber"
                  value="<%= user?.competencyCertificationNumber %>"
                  required
                />
              </div>
              <div class="col-12 col-lg-6 mb-3">
                <label for="qualification">Kualifikasi/Kompetensi <span style="color: red">*</span></label>
                <input
                  type="text"
                  name="qualification"
                  class="form-control"
                  id="qualification"
                  value="<%= user?.qualification %>"
                  required
                />
              </div>
              <div class="col-12 col-lg-6 mb-3">
                <label for="validUntil">Berlaku sampai dengan <span style="color: red">*</span></label>
                <input
                  type="date"
                  name="validUntil"
                  class="form-control"
                  id="validUntil"
                  value="<%= user?.validUntil %>"
                  required
                />
              </div>
              <div class="col-12 col-lg-6 mb-3">
                <label for="languageSkill">Keahlian Bahasa <span style="color: red">*</span></label>
                <select class="form-control language" name="languages" id="languages" multiple="multiple" required>
                  <% languages.forEach(language => { %>
                    <option value="<%= language.language %>" 
                      <%= user?.languages.some(lang => lang.id === language.id) ? 'selected' : '' %>>
                      <%= language.language %>
                    </option>
                  <% }) %>
                </select>          
              </div>
              <div class="col-12 col-lg-6 mb-3">
                <label for="specialInterest">Spesial Interest</label>
                <select class="form-control specialInterestSelect2" name="specialInterest" id="specialInterest" multiple="multiple" required>
                  <% specialInterest.forEach(data => { %>
                    <option value="<%= data.name %>" 
                      <%= user?.specialInterest.some(data_ => data_.id === data.id) ? 'selected' : '' %>>
                      <%= data.name %>
                    </option>
                  <% }) %>
                </select>          
              </div>
              <div class="col-12 col-lg-6 mb-3">
                <label for="inputPassword4">Password <span style="color: red">*</span></label>
                <div class="input-group">
                  <input
                    type="password"
                    class="form-control"
                    id="inputPassword4"
                    required
                    name="password"
                    autocomplete="current-password"
                    value="<%= user?.password %>"
                  />
                  <span role="button" id="togglePassword" class="input-group-text">
                    <i class="fa fa-eye-slash"></i>
                  </span>
                </div>
              </div>
              <div class="col-12 col-lg-6 mb-3">
                <label for="photo">Foto 
                  <span style="font-size: x-small; font-style: italic;">
                  Rekomendasi ukuran (250px x 250px)
                </span> </label>
                <input type="file" name="photo" class="form-control" id="photo" />
              </div>
            </div>
            <div class="">
              <button type="submit" class="theme-btn-sm w-100">
                <%= type == "create" ? "Tambah" : "Edit" %>
              </button>
            </div>
          </form>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <form
          id="personalProfileForm"
          action="<%= user && user.id ? `/panel/members/update-personal-profile/${user.id}` : '/panel/members/save-personal-profile' %>?type=user"
          method="post"
          enctype="multipart/form-data"
          >
            <div class="row mb-5">
              <div class="col-12 col-lg-6 mb-3">
                <label for="name">Available Area</label>
                <select 
                class="form-control availableAreasSelect2" 
                name="availableAreas" 
                id="availableAreas" 
                multiple="multiple" >
                  <% availableAreas.forEach(data => { %>
                    <option value="<%= data.name %>" 
                      <%= user?.availableAreas.some(data_ => data_.id === data.id) ? 'selected' : '' %>>
                      <%= data.name %>
                    </option>
                  <% }) %>
                </select> 
              </div>
              <div class="col-12 col-lg-6 mb-3">
                <label for="name">Short description</label>
                <textarea name="description" class="form-control" id="description"><%= user?.description %></textarea>
              </div>
              <div class="col-12 col-lg-6 mb-3">
                <label for="name">Personal Experience</label>
                <div id="experience"></div>
                <input type="hidden" name="experience" value="<%= user?.experience %>">
              </div>
              <div class="col-12 col-lg-6 mb-3">
                <label for="address">Education</label>
                <div id="educations"></div>
                <input type="hidden" name="educations" value="<%= user?.educations %>">
              </div>
            </div>
            <div class="" style="margin-top: 5rem;">
              <button type="submit" class="theme-btn-sm w-100">
                <%= type == "create" ? "Tambah" : "Edit" %>
              </button>
            </div>
          </form>
        </div>
        <div class="tab-pane fade" id="card" role="tabpanel" aria-labelledby="card-tab">
          <div class="card" id="card">
            <div class="card-body d-flex justify-content-center">
              <div class="img-continer d-flex justify-content-center">
                <img src="<%= user?.memberCard %>" alt="card member"/>
              </div>
            </div>
            <div class="card-footer">
              <a href="<%= user?.memberCard %>" download="member-card.png">
                <button class="btn btn-primary w-100">Download</button>
              </a>
            </div>
          </div>
        </div>
    </div>
    </div>
    
  </div>
</div>

