<!-- Include header -->
<%- include('../components/header.ejs') %>

<!-- Dynamic content injected here -->
<body class="wpo-dashboard">
  <aside class="wpo-sidebar">
    <div class="wpo-sidebar-widget">
      <div class="wpo-widget-title">
        <img src="/assets/images/Logo-HPI.webp" width="50" alt="Logo HPI" />
        <h6 class="m-0">PHPI</h6>
      </div>
    </div>
    <hr />

    <div class="wpo-sidebar-widget">
      <div class="wpo-widget-menu">
        <ul>
          <% if (session.user.role === 'admin') { %>
          <li class="<%= currentPage === 'dashboard' ? 'active' : '' %>">
            <a href="/panel/dashboard">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <li class="<%= currentPage == 'members' ? 'active' : '' %>">
            <a href="/panel/members">
              <i class="fa fa-users"></i>
              <span>Members</span>
            </a>
          </li>
          <% } %>
          <li class="<%= currentPage === 'profile' ? 'active' : '' %>">
            <a href="/panel/profile">
              <i class="fa fa-user"></i>
              <span>Profile</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="wpo-sidebar-widget-logout">
      <div class="wpo-widget-menu">
        <ul>
          <li>
            <a href="/logout">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
              <span>Logout</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </aside>
  <div class="sidebar-helper"></div>
  <main class="px-5 py-5"><%- body %></main>
</body>

<!-- Include footer -->
<%- include('../components/footer.ejs') %>
